textarea:focus, select:focus, select[type]:focus, .uneditable-select:focus,input:focus, input[type]:focus, .uneditable-input:focus { /*부트스트랩 input 색상*/
    border-color: #157ba1;
    box-shadow: 0 0px 0px rgba(229, 103, 23, 0.075) inset, 0 0 0px rgba(229, 103, 23, 0.6);
    outline: 0 none;
  }
.form-control option:focus,
  .form-control:focus {
    border-color:#157ba1!important;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)!important;
  }
#project-name{
    float: left;
}

.btn-warning:hover,
.btn-warning:active{
    background: #fbd14b;
     border: #fbd14b;
}
.btn-warning:focus,
 .btn-warning{
     float: right;
     margin: 5px 0px 10px 0px;
     outline: none !important;
     background: #fbd14b;
     border: #fbd14b;
     color: black;
     font-weight: 500;
     -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
     border-radius: 32px;
     
 }
main>section.container{
    display: table;
    margin-top: 20px;
}
.con-block{
    display: table-cell;
    vertical-align: middle;
    width: 1122px;
    text-align: center;
}
#dede{
    display: inline-block;
    width: 550px;
    height: 200px;
    box-shadow: 0px 0px 10px #dedcee;
    margin-left:10px;
    margin-right: 8px;
    margin-bottom: 30px;
    background-color: white;

}
#dede:focus,
#dede:hover{
    border: 0.1px #105c79 solid;
    box-shadow: 0px 0px 0px gainsboro;
}



#search{
    width: 100px;
    height: 50px;
    border: 1px black solid;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    outline: none !important;
}
#search:hover{
    border: 1px #7d6825 solid;
}

section .col-sm-12{ /*카드 마진*/
    margin: 15px 0px 0px 0px !important;
}

/*프로젝트 카드 유저 정보*/
#card_User{
    float: left;
    width: 180px;
    height: 200px;
    margin: 0px auto;
 
}
.projact_card_U{
    width: 140px;
    height: 140px;
    margin: 15px 0px 15px 30px;
}
.projact_card_U_font{
    text-align: center;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 15px;
}
/****************************************/
/*프로젝트 정보 내용*/
#card_content{
    float: left;
    width: 330px;
    height: 200px;
    padding: 10px;
    margin: 0px auto;
    overflow: inherit;   
}
.oneline{
    border: 1px solid white;
    position: relative;
}


#btn_scrap{
    background-color: white;
    font-weight: bolder;
    margin-top:13px;
    border-radius: 52px;
    outline: none !important;
}
#scrap{
    font-size:20px; padding-top:2px;
    color: #2E2E2E;
}
.card_content .oneline a{
    display: inline-block;
}

.D-Day-box{
    float: right;
    background-color: #fbd14b;
    width: 80px;
    height: 40px;
    position: relative; 
    left:10%;
    top: -48px;
}
.D-font{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 6px;

}
.project-content{
    margin-left: 20px;
}
/****************************************/
#hash{
    width: 1122px;
    height: 50px;
    background: #e2f5fd;
    border-radius: 32px;
}
#hash_font>a,
#hash_font{
    font-size: 20px;
    text-align: center;
    line-height:50px;
    color:#082e3c;
}

#hash_font>a:hover{
    text-decoration: none;
    background: #157ba1;
    color: white;
}
#hash_font>a{
    margin: 0px 5px 0px 5px;
}
#card_hash{
    margin: 0px 0px 10px 0px;
}
/****************************************/
#card_title{
    color: #2E2E2E;
}
.table{
    background-color: #e2f5fd;
    width: 1122px;
    margin-bottom: 30px;
}
td{
    border: white 1px solid;
}
.act{
    margin: 0px 0px 0px 30px;
    width: 300px;
  
}
.text-content{
    text-align: left;
}
.form-control{
    padding-right: 50px;
}
.btn.btn-default:hover, 
.btn.btn-default:focus, 
.btn.btn-default:active{
    background: white;
    outline: none !important;
    border: #157ba1 1px solid;
}
select.form-control>option:hover,
select.form-control>option:focus,
select.form-control>option:active{
    background: #157ba1 !important;
}


#maun_card{padding-bottom:5px;
padding-left: 5px;}                     /*  상단 여백 10px  */

#maun_card> li {
            display:inline;                         /*  세로나열을 가로나열로 변경 */
            border-left:1px solid #999;             /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
            font:bold 15px;                     
            padding:0 10px;                         /* 각 메뉴 간격 */
        }
        #maun_card>li>a{
            color: #999999;
        }
        #maun_card> li:first-child{border-left:none;}     /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제    */
        #maun_card>li.active>a{
            color: #082e3c;
        }

        #adver{
            width: 1122px;
            height: 130px;
            border: #082e3c 1px solid;
            margin-bottom: 10px;
        }

        .pagination{
            display: block;
            text-align: center;
        }
        .pagination>li>a{
            float: none;
            margin-left: -5px;
        }
     